# extends "layout.html"
<!DOCTYPE html>
<html>
    # block head
        ${ super() }
    # endblock head
    
    # block content  
        <div id="content">
            # if milestone :
                <h1> Dependency Graph for ${ milestone }</h1>
            # else :
                <h1> Dependency Graph for ticket ${ ticket } ${ ticket.summary }</h1>
            # endif 
            # if not use_gs:
                ${ svg_content | safe }
            # endif
        </div>
        <img src="${get_htdocs_dirs}/img/key.png" />
        ${ super() }
    # endblock content
</html>
