# extends "layout.html"
<!DOCTYPE html>
<html>
    # block head
        # block title
            #   if not milestone:
                Dependency Graph  ${ super() }
            # else :
                Dependency Graph for milestone  ${ super() }
            #   endif
        # endblock title
        ${ super() }
    # endblock head
    
    # block content  
        <div id="content">
            # if milestone :
                <h1> ${ milestone }</h1>
            # else :
                <h1> ${ ticket }</h1>
            # endif 
            <img src=""
                alt="Dependency graph"
                usemap=""/>
            ${ graph_render }
            ${ html_content }
            ${(graph_render('cmapx').decode('utf8'))}
        </div>

        ${ super() }

        
    # endblock content
</html>
