# extends "layout.html"
<!DOCTYPE html>
<html>
    # block head
        # block title
            #   if not milestone:
                Dependency Graph  ${ super() }
            # else :
                Dependency Graph for milestone  ${ super() }
            #   endif
        # endblock title
<!--         #  set modify_perm = 'WIKI_MODIFY' in perm(page.resource)
        #  set is_not_latest = page.exists and page.version != latest_version -->
        ${ super() }
    # endblock head
    
    # block content
        
        <div id="content">
            # if milestone :
                <h1> ${ milestone }</h1>
                <img src=""
                    alt="Dependency graph"
                    usemap=""/>
            # else :
                <h1> ${ ticket }</h1>
                <img src=""
                    alt="Dependency graph"
                    usemap=""/>
            # endif
                    ${ Markup(graph_render('cmapx').decode('utf8')) }
        </div>

        ${ super() }

        
    # endblock content
</html>
